body {
	text-align: center;
	background-color: black;
	color: white;
}

button {
	color: white;
	background-color: black;
	border: none;
}

button:hover {
	color: rgb(229, 5, 6);
}

a:hover {
	color: rgb(17, 142, 38);
}

header {
	padding: 20px 50px;
	margin-bottom: 70px;
}

img {
	float: left;
}

li {
	float: right;
	padding: 18px 40px;
	font-size: 0px;
	text-align: center;
	list-style-type: none;
	margin: 0;
}

button {
	font-size: 16px;
	font-family: Ubuntu;
}

a {
	font-family: Ubuntu;
	font-size: 16px;
	text-decoration: none;
	padding: 35px 40px;
	float: left;
	color: white;
}

object {
	height: 720px;
	width: 1140px;
}
